.CartPage-items {
	margin-top: 1px;
	padding: 0;
	list-style: none;
	max-height: 93%;
	overflow-y: auto;
}

.CartItem-count {
	padding: 5px 10px;
	border: 1px solid #ccc;
}

.CartItem-addOne,
.CartItem-removeOne {
	padding: 5px 10px;
	border: 1px solid #ccc;
	background: #fff;
}

.CartItem-addOne {
	border-left: none;
}

.CartItem-removeOne {
	border-right: none;
}

.CartItem-addOne:hover {
	background-color: greenyellow;
}

.CartItem-removeOne:hover {
	background-color: orangered;
}

.CartItem-count:hover {
	background-color: cornsilk;
}
.Empty-cart {
	text-align: center;
	width: 100%;
}

.Empty-cart img {
	width: inherit;
	height: inherit;
}

.CartPage-total {
	font-size: x-large;
	float: right;
}
